
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img class="img-responsive" alt="Brand" src="">
                </a>
                    <a href="/"><button class="btn btn-primary btn-lg">home</button></a>
                    <a href="/map"><button class="btn btn-success btn-lg">map</button></a>
                    <a href="#"><button class="btn btn-large btn-primary">Logout</button></a>
                </div>
            </div>
        </nav>


        <!--FISH WELL-->

        <div class="well">
            {{#if fishArray}}
                {{#each fishArray}}
                  <div class="jumbotron" id="fishJumbo">
                    <h2>Type: {{this.type}}</h2>
                    <h3>Lure: {{this.lure}}</h3>
                    <h3>Depth: {{this.depth}}</h3>
                    <h3>Comments: {{this.comments}}</h3>
                    <p>Date/Time: {{this.date}}</p>
                    <form method="POST" action="/fish?_method=DELETE">
                        <input value="{{this._id}}" name="id" hidden/>
                            <button type="submit" class="btn btn-large btn-danger">Delete Fish</button>
                    </form>
                  </div>
                {{/each}}
                {{else}}
                <h1>None Yet</h1>
            {{/if}}
        </div>
